@model ShopQuanAo.Entities.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title"> THÔNG TIN QUYỀN TRUY CẬP</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Tên Quyền truy cập
                            </th>
                            <th>
                                Mô tả
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.RoleId</td>
                                    <td>@Model.RoleName</td>
                                    <td>@Model.Description</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
